In [1]:
#!conda install -c conda-forge pandas pandas-profiling matplotlib openpyxl -y

Collecting package metadata (current_repodata.json): done
Solving environment: done

# All requested packages already installed.

In [2]:
#pip install pandas-profiling

In [1]:
import pandas as pd
from pandas_profiling import ProfileReport
import matplotlib.pyplot as plt

In [20]:
df = pd.read_csv('google_trends.csv',header = 1)

In [21]:
report = ProfileReport(df)
report.to_file('google_trends.html')

Summarize dataset:   0%|          | 0/19 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]

In [19]:
df

,Week,Coinbase: (United States),Bitcoin: (United States),Cryptocurrency: (United States),Ethereum: (United States),Cardano: (United States)
0,2016-09-18,<1,2,<1,<1,0
1,2016-09-25,<1,2,<1,<1,0
2,2016-10-02,<1,2,<1,<1,<1
3,2016-10-09,<1,2,<1,<1,0
4,2016-10-16,<1,2,<1,<1,0
...,...,...,...,...,...,...
256,2021-08-15,3,14,8,6,2
257,2021-08-22,3,13,8,5,3
258,2021-08-29,3,13,9,7,3
259,2021-09-05,4,18,10,7,2
260,2021-09-12,3,13,8,4,3

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 261 entries, 0 to 260
Data columns (total 6 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   Week                                261 non-null    object
 1   Smart contract: (Worldwide)         261 non-null    object
 2   Bitcoin: (Worldwide)                261 non-null    int64
 3   Non-fungible token: (Worldwide)     261 non-null    object
 4   Ethereum: (Worldwide)               261 non-null    object
 5   Solana cryptocurrency: (Worldwide)  261 non-null    object
dtypes: int64(1), object(5)
memory usage: 12.4+ KB

In [13]:
df.rename(columns = {'a':'Smart'}, inplace = True)

In [8]:
df

                                                                                                                             Category: All categories
Week       Smart contract: (Worldwide) Bitcoin: (Worldwide) Non-fungible token: (Worldwide) Ethereum: (Worldwide)  Solana cryptocurrency: (Worldwide)
2016-09-18 <1                          3                    <1                              <1                                                      0
2016-09-25 <1                          3                    <1                              <1                                                      0
2016-10-02 <1                          3                    <1                              <1                                                      0
2016-10-09 <1                          3                    <1                              <1                                                      0
...                                                                                                                                               ...
2021-08-15 <1                          26                   1                               8                                                      <1
2021-08-22 <1                          27                   2                               7                                                      <1
2021-08-29 <1                          23                   3                               9                                                      <1
2021-09-05 <1                          30                   2                               9                                                      <1
2021-09-12 <1                          24                   2                               6                                                      <1

[262 rows x 1 columns]